@import "../settings";

.home-page {
  display: flex;
  flex-direction: row;
  .rail {
    flex: 0 0 300px;
    background: white;
    border: solid 1px $border;
    margin-right: 10px;
    .add {
      background: $primary-color;
      color: $primary-color-foreground;
      margin: -1px -1px 0 -1px;
      cursor: pointer;
      transition: .3s;
      display: block;
      padding: 5px 10px;
      i {
        margin-right: 7px;
      }
      &:hover {
        background: darken($primary-color, 5%);
        transition: .3s;
      }
    }
    ul {
      list-style: none;
      li {
        position: relative;
        margin-right: -1px;
        margin-left: -1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        span {
          display: block;
          padding: 5px 40px 5px 10px;
        }
        &:hover, &.active {
          background: darken($border, 5%);
        }
        i {
          position: absolute;
          right: 0;
          top: 0;
          width: 35px;
          height: 100%;
          display: block;
          text-align: center;
          padding: 7px;
          color: $warning;
          cursor: pointer;
          &:hover {
            background: $warning;
            color: white;
          }
        }
      }
    }
  }
  .content {
    padding: 10px;
    flex: 1;
    background: white;
    border: solid 1px $border;
    label {
      margin-bottom: 2px;
      display: block;
    }
    .rates {
      margin-top: 10px;
      border: solid 1px $border;
      padding: 10px;
      background: lighten($border, 5%);
      .rate {
        &.header {
          border-bottom: solid 1px $border;
          padding-bottom: 7px;
        }
        + .rate {
          margin-top: 10px;
        }
        &.roll {
          .type-label {
            background: $roll;
          }
        }
        &.pitch {
          .type-label {
            background: $pitch;
          }
        }
        &.yaw {
          .type-label {
            background: $yaw;
          }
        }

        .type-label {
          padding: 4px 10px;
          display: block;
          width: 100%;
        }
      }
    }
    .cli {
      margin-top: 10px;
      textarea {
        width: 100%;
        height: 230px;
        background: lighten($border, 5%);
        border: solid 1px $border;
        display: block;
      }
    }
  }
}