@import "../settings";

.home-page {
  display: flex;
  flex-direction: row;
  .rail {
    flex: 0 0 300px;
    background: white;
    border: solid 1px $border;
    margin-right: 10px;
    ul {
      list-style: none;
      li {
        padding: 5px 10px;
      }
    }
  }
  .content {
    padding: 10px;
    flex: 1;
    background: white;
    border: solid 1px $border;
  }
}