<div id="home-page-target" class="home-page">
    <div class="rail">
        <a href="#" data-add-profile class="add"><i class="fa fa-plus"></i> Add Rate Profile</a>
        <ul data-rail-target></ul>
    </div>
    <form class="content" data-content-target></form>
</div>