{{#if message}}
    <h2>{{message}}</h2>
{{/if}}
<form action="/login" method="post">
    <div class="control">
        <label>Username / Email</label>
        <input type="text" name="username">
    </div>
    <div class="control">
        <label>Password</label>
        <input type="password" name="password">
    </div>

    <button type="submit">Login</button>
</form>