@import "../settings";

.site-content {
  @import "../pages/all-pages";
  input, select, textarea {
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    border: solid 1px $border;
    font-size: 1em;
    &[readonly] {
      background: $border;
      outline: none
    }
  }
  textarea {
    height: auto;
  }
  select {
    padding: 0 5px;
  }
}